<header class="container-fluid">
  <h1 class="display-2 text-center">Magic: the Gathering Deck Creation</h1>
  <p class="text-end mp3-hex">All of your favorite decks in one place.</p>
</header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Wizards of the Cache</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {{#if logged_in}}
          <a class="nav-link" href="/decks">My Decks</a>
          <button id="sign-out" class="nav-link decks-btns" data-bs-toggle="modal" data-bs-target="#sign-out-modal" href="/modals">Sign Out</button>
          {{else}}
          <a class="nav-link" href="/login">Sign In</a>
          <a class="nav-link" href="/register">Register</a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>
    <br>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-auto col-center">
          <div><img class="symbol" src="/assets/images/tap-this-permanent.jpg" alt="tap-this-permanent-symbol"></div>
          <br>
          <div><img class="symbol" src="/assets/images/chaos.jpg" alt="chaos-symbol"></div>
          <br>
          <div><img class="symbol" src="/assets/images/one-snow-mana.jpg" alt="one-snow-mana-symbol"></div>
        </div> 
    <div id="myCarousel" class="carousel slide col-md-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{this.[0].image_uris.art_crop}}" class="d-block w-100" alt="{{this.[0].name}}">
          </div>
          <div class="carousel-item">
            <img src="{{this.[1].image_uris.art_crop}}" class="d-block w-100" alt="{{this.[1].name}}">
          </div>
          <div class="carousel-item">
            <img src="{{this.[2].image_uris.art_crop}}" class="d-block w-100" alt="{{this.[2].name}}">
          </div>
          <div class="carousel-item">
            <img src="{{this.[3].image_uris.art_crop}}" class="d-block w-100" alt="{{this.[3].name}}">
          </div>
          <div class="carousel-item">
            <img src="{{this.[4].image_uris.art_crop}}" class="d-block w-100" alt="{{this.[4].name}}">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
      <div class="col-md-auto col-center">
        <div><img class="symbol" src="/assets/images/one-white-or-blue-mana.jpg" alt="one-white-or-blue-mana-symbol"></div>
        <br>
        <div><img class="symbol" src="/assets/images/planeswalker.jpg" alt="planeswalker-symbol"></div>
        <br>
        <div><img class="symbol" src="/assets/images/untap-this-permanent.jpg" alt="untap-this-permanent-symbol"></div>
      </div>
    </div>
  </div>
    </div>

{{!-- Sign out modal --}}
<div class="modal fade" id="sign-out-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
{{> signoutModal}}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
{{#if logged_in}}
  <script src="./js/logout.js"></script>
{{/if}}